.container-data-table {
  margin-bottom: 20px;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  .wrapper-management {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    margin: 10px 0;

    > div {
      gap: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .wrapper-header-table {
    display: flex;
    text-align: center;

    .datatable-header-cell {
      border: 1px solid var(--primary-red);
      margin: 2px;
      border-radius: 5px;
    }
  }


  .datatable-row {
    display: flex;
    text-align: center;

    .datatable-cell {
      border: 1px solid var(--background-color-dark);
      margin: 2px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      .wrapper-item {
        padding: 0 5px;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

      }
    }
  }
}

.item-tablet-JSX {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}