.container-category-item {
    flex: 1 0 66%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: var(--text-color);
    h2 {
        text-align: center;
    }
    form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .container-my-input {
            width: 100%;
            & > label {
                margin-bottom: 5px;
            }
        }
        input {
            max-width: 100%;
        }
        //for better display of error messages
        & > div:not(:first-of-type) {
            margin-top: 20px;
        }
    }
}
.category-item-actions {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -10px;

    button {
        text-transform: capitalize;
    }
}
.error-message {
    align-self: flex-start;
    color: red;
    font-size: 10px;
    margin-top: 3px;
}
.category-item-confirmation {
    width: 30vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .category-item-actions {
        align-self: center;
    }
}
.container-my-btn {
    min-width: 80px;
}
