.container-admin-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .container-admin-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
}
