.container-my-btn {
  cursor: pointer;
  background-color: var(--primary-red);
  border: none;
  color: var(--text-color-light);
  padding: 10px;
  height: 41px;
  transition: background-color, text-shadow 0.3s ease;

  &:hover {
    background-color: var(--primary-red-hover);
    text-shadow: 0 0 5px black;
  }
}