.container-modal {
  position: fixed;
  display: flex;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-modal);
  opacity: 0;
 
  .wrapper-content {
    opacity: 0;
    padding: 10px;
    background-color: var(--background-color);
    max-height: 90svh;
    max-width: 90vw;
    // overflow: auto;
    position: relative;

    .modal-close {
      position: absolute;
      top: 0px;
      right: 10px;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
}
