.container-modal {
  position: absolute;
  display: flex;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .wrapper-content{
    padding: 10px;
    background-color: white;
  }
}