.container-tree-list {
  padding: 10px;
  width: auto;
  max-width: 200px;
  height: 100%;
  max-height: 100vw;

  .wrapper-tree-list {
    display: flex;
    flex-direction: column;
  }
  .wrapper-tree-list.hovered {
    color: rgb(235, 7, 7);
  }
  .wrapper-resuly-tree-list {
    display: flex;
    gap: 5px;
    margin: 5px;

    .open-tree {
      cursor: pointer;
    }

    .name-tree {
      cursor: pointer;
      margin-left: 5px;
    }
    .name-tree:hover {
      color: rgb(33, 243, 33);
    }
    .add-children-btn {
      margin-left: 10px;
      color: darkgreen;
    }
    .add-children-btn:hover {
      color: rgb(33, 243, 33);
    }
  }
  .tree-children {
    padding-left: 10px;
  }
}
