.container-tree-list {
    flex-shrink: 1;
    // max-width: 50%;
    min-width: calc(34% - 20px);
    color: var(--text-color);
    .wrapper-tree-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &.dragged {
            background-color: #e0e0e0;
            border-radius: 10px;
            opacity: 0.5;
            border: 2px dotted black;
        }
        &.hovered {
            background-color: #a5dd9b;
            opacity: 0.5;
            border-radius: 10px;
            border: 2px dotted black;
            // gap: 28px;
        }
        &.hovered-root:has( .hovered), &.hovered-root.hovered {
            padding-bottom: 40px;
        }
        &.expanded {
            & > .wrapper-result-tree-list {
                background-color: var(--background-color-dark);

                box-shadow: inset 5px 5px 10px #bbbaba, inset -5px -5px 8px rgb(227, 224, 224),
                    var(--input-shadow);
                .open-tree {
                    transform: rotate(90deg);
                }
                .name-tree {
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
        &.empty {
            gap: 0px;
            .wrapper-result-tree-list {
                cursor: auto;

                .name-tree {
                    text-transform: unset;
                    &::first-letter {
                        text-transform: capitalize;
                    }
                    font-weight: normal;
                    pointer-events: none;
                }
                .open-tree {
                    visibility: hidden;
                }
            }
        }
    }

    .wrapper-result-tree-list {
        line-height: 38px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding-inline: 5px;
        cursor: pointer;
        .open-tree {
            font-size: 20px;
            padding-inline: 5px;
            padding-bottom: 5px;
            transition: all 0.2s;
        }

        .name-tree {
            flex-grow: 1;
            // max-width: 100%;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .edit-block {
            display: flex;
            flex-wrap: nowrap;
            visibility: hidden;
            button {
                padding: 5px;
                color: #828282;
                font-style: italic;
                border-radius: 10px;
                &:hover {
                    font-weight: bold;
                    cursor: pointer;
                    color: currentColor;
                }
            }
        }
        &:hover {
            box-shadow: var(--input-shadow);
            .edit-block {
                visibility: visible;
            }
        }
    }

    .tree-children {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}
.wrapper-tree-list.expanded {
    background-color: #f9f9f9;
    box-shadow: var(--input-shadow);
    padding: 8px;
    border-radius: 10px;
}

[data-theme='dark'] {
    .wrapper-tree-list.expanded:not(.container-tree-list > div > .wrapper-tree-list) {
        background-color: #9db2bf;
        box-shadow: var(--input-shadow);
    }
    .container-tree-list .wrapper-result-tree-list {
        background-color: #9db2bf;
    }
    .tree-children {
        color: var(--background-color);
    }
    .wrapper-tree-list.expanded {
        color: white;
        & > .wrapper-result-tree-list {
            box-shadow: inset 7px 7px 14px #1f1717, inset -7px -7px 14px #614949,
                var(--input-shadow);
        }
    }
}
