.container-banner {
  height: 310px;
  margin: 10px auto;
  position: relative;

  @media (min-width: 768px) {
    height: 570px;
    max-width: 1300px;
    width: 100%;
  }

  .banner-gallery {

    .banner-image {
      flex: 1;
      overflow: hidden;
      position: relative;

      @media (min-width: 768px) {
        max-height: 530px;
      }

      .banner-controls-prev,
      .banner-controls-next {
        cursor: pointer;
        position: absolute;
        top: 229px;
        display: none;
        z-index: 1;
        @media (min-width: 768px) {
          display: flex;
          cursor: pointer;
          padding: 24px;
        }

        .banner-controls-prevArrow,
        .banner-controls-nextArrow {
          stroke-opacity: 0.6;
          stroke-width: 25%;
          width: 24px;
          height: 24px;
        }
      }

      .banner-controls-next {
        right: 0;

        .banner-controls-nextArrow {
          transform: rotate(-90deg);
        }
      }

      .banner-controls-prev {
        left: 0;

        .banner-controls-prevArrow {
          transform: rotate(90deg);
        }
      }

      ul {
        display: flex;
        align-items: center;

        li {
          flex: 0 0 100%;

          .wrapper-img-banner {
            position: relative;
            height: 280px;

            @media (min-width: 768px) {
              height: 570px;
              max-width: 1300px;
              width: 100%;
            }
          }
        }

        .banner-button {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          button {
            text-transform: uppercase;
          }

        }
      }
    }

    .banner-cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 93%;
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 3fr;
      z-index: 2;

      .banner-left,
      .banner-right {
        background: var(--text-color-light);
      }
    }
  }

  .banner-dots {
    display: flex;
    margin: 20px auto;
    width: 54px;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      width: 198px;
    }

    .banner-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--text-color-light);
      border: 0.5px solid var(--svg-hover-pagintaion);
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      @media (min-width: 768px) {
        width: 14px;
        height: 14px;
        border: 0.5px solid var(--placeholder);
        margin: 0 5px;
      }
    }

    .active {
      background-color: var(--placeholder);
    }
  }
}
