* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --index: calc(1vw + 1vh);
    background-color: #ffffff;
    --background-color-dark: #cfcfd5;
    --text-color: #363636;
    --svg-img: brightness(0);
    --svg-img-hover: brightness(0) invert(1);


    --svg-colot-pagination: #E0E0E0;
    --svg-hover-pagintaion: #363636;
    --border-buttom-pagintaion: #E0E0E0;
    --pagination-disabled: #6f6b6b;
    --primary-red: #E56466;
    --primary-red-hover: #d94a4a;

    /* ------------------ */
    --text-color-light: white;
    --input-background: transparent;
    --light-red: #F1B0B1;
    --stoke: #B8B8B8;
    --placeholder: #828282;
    --input-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
    --index: calc(1vw + 1vh);
    background-color: #181818;
    --background-color-dark: #403030;
    --text-color: #ffffff;
    --svg-img: brightness(0) invert(1);
    --svg-img-hover: brightness(0);
    --input-background: #f5f5f5;
}

/*  font-size: calc(var(--index) * 1); */


.container-admin-main {
    display: flex;
}