.container-accordion {
  width: 100%;
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: none;
  border-top: none;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: var(--color-stroke, #b8b8b8);
    width: auto;
    bottom: 0;
  }

  cursor: pointer;
  padding: 20px 0px;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--color-stroke, #b8b8b8);
    padding: 12px 0px;

    &::after {
      content: "";
      position: absolute;
      left: -20px;
      right: -20px;
      height: 0;
      background-color: var(--color-stroke, #b8b8b8);
      width: auto;
      bottom: 0;
    }
  }
  h6 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 14px;
      flex-direction: row;
      text-align: start;
    }
  }

  div {
    text-align: left;
    height: 0;
    opacity: 0;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;

    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  path {
    stroke: var(--color-stroke, #b8b8b8);
  }
  .accordion-arrow {
    width: 12px;
    height: 12px;
    @media (min-width: 768px) {
      width: 16px;
      height: 16px;
    }
  }
}
