.container-create-category {
    flex: 1 0 66%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: var(--text-color);
    h2 {
        text-align: center;
    }
    form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        & > div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            input {
                min-width: 100%;
            }
        }
        .create-category-fields-label::first-letter {
            text-transform: uppercase;
        }
        .container-line {
            margin-top: -10px;
        }
        .create-category-actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: -10px;
            button::first-letter {
                text-transform: uppercase;
            }
        }
    }
    .error-message {
        color: red;
        font-size: 10px;
        margin-top: 3px;
    }
}
