.container-dashboard-admin {
  background-color: var(--background-color-dark);
  height: 100svh;
  padding: 10px;

  a {
    color: var(--text-color);
    display: block;
    padding: 5px 0;
  }

  img {
    width: 50px;
    height: 50px;
    filter: var(--svg-img);
    transition: filter 0.3s ease;

    &:hover {
      filter: var(--svg-img-hover);
      cursor: pointer;
    }
  }
}
